### Langchain (Langsmith)
LANGCHAIN_API_KEY=your-api-key
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=your-project
### Anthropic
ANTHROPIC_API_KEY=your-anthropic-api-key-here

### Google
GOOGLE_API_KEY=your-google-api-key-here

### Groq
GROQ_API_KEY = your-api-key

### OpenAI
OPENAI_API_KEY = your-api-key

### PINECONE_API_KE
PINECONE_API_KEY = your-api-key

### TAVILY API KEY
TAVILY_API_KEY = your-api-key